<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="theme-color" content="#000000"/>
    <link rel="shortcut icon" href=""/>
    <title>APEXIO</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
</head>

<style>
    body {
        background-color: #222222;
    }

    input:focus {
        outline: none;
    }
</style>

<body>
{#    {{ hostname }}#}
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<script src="{{ url_for('static',filename='build/index.js') }}"></script>
</body>

</html>
